/*------------------------------------*\
#FONTS
\*------------------------------------*/

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/*------------------------------------*\
#VARIABLES
\*------------------------------------*/

:root {
  /* Colors */
  --global-color-dark-blue: #15182d;
  --global-color-blue: #1c1f38;
  --global-color-black: #0c0e1b;
  --global-color-red: #c92f4d;
  --global-color-white: #f7f7f8;

  /* Whitespace */

  /* Fonts */
  --global-font-family-light: "Roboto Condensed";
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/
html.reveal-full-page {
  font-size: 62.5%; /* font-size: 10px; */
  font-family: var(--global-font-family-light), Helvetica, arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: var(--global-color-black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.reveal .slides {
  text-align: left;
}

.reveal img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  
}
/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
.o-hidden {
  display: none;
}
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-dashboard {
  display: flex;
  flex-direction: row;
}

.c-infobar {
  background-color: var(--global-color-blue);
  height: 100vh;
  max-width: 37.5%;
}

.c-logo {
  display: flex;
  justify-content: start;
  padding: 5px;
}

.c-info {
  padding-left: 64px;
}

.reveal .c-info__title {
  font-size: 3.6rem;
  font-weight: 300;
  font-family: var(--global-font-family-light), sans-serif;
  text-transform: uppercase;
}

.c-info__title--underline {
  border-bottom: 5px solid var(--global-color-white);
}

.reveal .c-info__text {
  font-size: 1.4rem;
  line-height: 1.8;
  padding-top: 8px;
  padding-right: 64px;
  font-family: var(--global-font-family-light), sans-serif;
}

img.c-background-image {
  position: absolute;
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
}

.c-card__container {
  width: 66%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.c-card {
  background-color: var(--global-color-blue);
  border-radius: 4%;
  font-size: 3rem;
  padding: 32px;
  max-height: 336px;
}

.c-month {
  grid-column: 1 / span 2;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
