/*------------------------------------*\
#FONTS
\*------------------------------------*/
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
/*------------------------------------*\
#VARIABLES
\*------------------------------------*/

/*------------------------------------*\
#GENERIC
\*------------------------------------*/
html {
  font-size: 62.5%; /* font-size: 10px; */
  font-family: "Roboto Condensed", Helvetica, arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
.o-hidden {
  display: none;
}
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-dashboard {
  display: flex;
  flex-direction: row;
}

.c-infobar{
    width: 37.5%;
    background-color: #1C1F38;
    height: 100vh;
    max-width: 480px;
    position: relative;
}

.c-logo{
    display: flex;
    justify-content: start;
}

.c-title{
    font-size: 3rem;
    text-align: left;
    padding-left: 64px;
}

.c-text{
    font-size: 1rem;
    text-align: left;
    padding: 32px;
    padding-left: 64px;
}

.c-backgroundImage{
    position: absolute;
    bottom: 0;
    left: 0;
}

.c-card-container{
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.c-card {
  background-color: #1c1f38;
  border-radius: 1rem;
  font-size: 3.9vh;
  padding: 32px;
  max-height: 336px;
}

.c-month {
  grid-column: 1 / span 2;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
